@import "../../styles/vars";
@import "../../styles/fonts";

.reportValue {
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $color-white;
}

.reportDescription {
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $color-steel-grey;
}

.reportsPadding{
    margin-bottom: 30px;
}

.line {
    width: 100%;
    border-top: solid 2px #374148;
    margin-bottom: 30px;
}
