// use http://chir.ag/projects/name-that-color/ or stick to Zeplin color names

// COLORS
$color-white: #ffffff;
$color-black: #000000;
$color-dark: #202b33;
$color-steel-grey: #72848b;
$algae-green: #25cd6b;
$algae-yellow: #ffbe57;
$algae-red: #ff2e50;
